<div
  class="w-full h-fulloverflow-hidden !bg-transparent text-[#FFF] flex items-center justify-center"
>
  <div
    class="w-1/2 p-[2rem] flex flex-col justify-center gap-[2rem] bg-[#FFF] rounded-[2rem] p-[40px]"
  >
    <div class="flex items-center justify-center">
      <img
        src="logo/gym-track-white-bg-white-sm.png"
        width="200px"
        height="200px"
      />
    </div>

    <div>
      <gk-log-with-other-service />
    </div>

    <div class="flex flex-col gap-[3rem]">
      <div class="flex flex-col gap-5">
        <gk-input leftIcon="bootstrapMailbox2" />
        <gk-input leftIcon="bootstrapKeyFill" />
        <div>
          <span class="text-sm underline cursor-pointer text-[#317d25]"
            >Esqueceu e-mail ou senha?</span
          >
        </div>
        <gk-button content="Login" />
      </div>
    </div>
  </div>
</div>
