<div class="fixed w-[4rem] h-[100%] bg-[#fcfcfc] flex flex-col justify-between">
  <!-- Container de Ícones no Topo -->
  <div>
    <div
      class="w-full p-2 flex items-center justify-center cursor-pointer hover:bg-[#e8e8e8]"
    >
      <ng-icon
        class="[&>svg]:!text-[black] !w-[1.5rem] !h-[1.5rem]"
        name="bootstrapHouseFill"
      />
    </div>

    <!-- Outros ícones podem ser adicionados aqui -->
    <div
      class="w-full p-2 flex items-center justify-center cursor-pointer hover:bg-[#e8e8e8]"
    >
      <ng-icon
        class="[&>svg]:!text-[black] !w-[1.5rem] !h-[1.5rem]"
        name="bootstrapGearFill"
      />
    </div>

    <div
      class="w-full p-2 flex items-center justify-center cursor-pointer hover:bg-[#e8e8e8]"
    >
      <ng-icon
        class="[&>svg]:!text-[black] !w-[1.5rem] !h-[1.5rem]"
        name="bootstrapBellFill"
      />
    </div>
  </div>

  <div
    class="w-full p-2 flex items-center justify-center cursor-pointer hover:bg-[#e8e8e8]"
  >
    <ng-icon
      class="[&>svg]:!text-[black] !w-[1.5rem] !h-[1.5rem]"
      name="bootstrapBoxArrowLeft"
    />
  </div>
</div>
