<div class="flex item-center justify-center gap-2">
  <div
    class="w-[3rem] h-[3rem] border-2 border-[#317d25] rounded-full flex items-center justify-center cursor-pointer"
  >
    <ng-icon class="[&>*]:!text-[#317d25]" name="bootstrapFacebook" />
  </div>
  <div
    class="w-[3rem] h-[3rem] border-2 border-[#317d25] rounded-full flex items-center justify-center cursor-pointer"
  >
    <ng-icon class="[&>*]:!text-[#317d25]" name="bootstrapGoogle" />
  </div>
  <div
    class="w-[3rem] h-[3rem] border-2 border-[#317d25] rounded-full flex items-center justify-center cursor-pointer"
  >
    <ng-icon class="[&>*]:!text-[#317d25]" name="bootstrapGoogle" />
  </div>
</div>
